@page "/reset-password"
@model ResetPasswordPageModel
@inject IConfiguration Configuration
@{

    var resetPasswordUrl = Configuration["Magnus:URLS:SSO:Api"];
}

<div style="display: grid; place-items: center; width: 30rem; margin: 0 auto">
    <img src="cid:@Model.ContentId" alt="Logo" style="width: 400px; height: 130px" />
    <h3>Reset password for @Model.Template.Username</h3>
    <div>
        You are receiving this email in order to reset your password.
    </div>
    <a href="@resetPasswordUrl/users/reset-password-confirmation?token=@Model.Template.CallbackToken">
        Reset password
    </a>
</div>